{{!-- home page section --}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-10 mx-auto">
        <div class="details">
          <p>Welcome to weather app</p>
          <h1>get the latest <span class="text-primary">weather</span> info of your city</h1>
          <div class="btn-main">
            <button id="btn-home" class="btn">check now</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-10 mx-auto">
         <div class="img">
          <img class="img-fluid" src="image/coconut_tree_png_by_anulubi_ddgb2bp-fullview.png" alt="faisal">
        </div>

      </div>
    </div>
  </div>
</section>